# -- dirs --#
.w3m/
.tmux/plugins
.config/Alacritty
.config/ranger
.bin/temp/
# -- files --#

# -- exceptions --#
!.w3m/config
!.config/ranger/commands.py # defines ranger commands
!.config/ranger/rifle.conf  # defines how to launch files
!.config/ranger/rc.conf     # ranger keybindings and settings
!.config/ranger/scope.sh    # defines how to handle file previews
