# -- dirs --#
.w3m/
.tmux/plugins
.config/Alacritty
.vim/autoload/plugged
.config/ranger/plugins/__pycache__
.config/ranger/colorschemes/__pycache__
.config/ranger/colorschemes/__pycache__
# -- files --#
# -- exceptions --#
!.w3m/config

